& when (@media-common = true) {

  .cms-page-view {
      &.page-layout-1column {
        .page-main {
             background-color: @color-white;
             padding: 1rem;
             border-radius: @folix-radius-lg;
             box-shadow: @folix-shadow-xl;
             margin-bottom: 1rem;
        }
      }
  }

}