<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <folixcode_productsync>
            <settings>
                <!-- 业务配置 -->
                <sync_interval>60</sync_interval>
                <last_sync_timestamp>0</last_sync_timestamp>
                <batch_size>100</batch_size>
            </settings>
        </folixcode_productsync>
    </default>
</config>