<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- API服务首选项 -->
    <preference for="FolixCode\ProductSync\Api\VirtualGoodsApiInterface" type="FolixCode\ProductSync\Service\VirtualGoodsApiService"/>
    <preference for="FolixCode\ProductSync\Api\Message\PublisherInterface" type="FolixCode\ProductSync\Model\MessageQueue\Publisher"/>
    <preference for="FolixCode\ProductSync\Api\Message\ProductImportMessageInterface" type="FolixCode\ProductSync\Model\Message\ProductImportMessage"/>
    <preference for="FolixCode\ProductSync\Api\Message\CategoryImportMessageInterface" type="FolixCode\ProductSync\Model\Message\CategoryImportMessage"/>
    <preference for="FolixCode\ProductSync\Api\Message\ProductDetailMessageInterface" type="FolixCode\ProductSync\Model\Message\ProductDetailMessage"/>

    <!-- 命令行 -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="folixcode_sync_products" xsi:type="object">FolixCode\ProductSync\Console\Command\SyncCommand</item>
            </argument>
        </arguments>
    </type>

    <!-- VirtualGoodsApiService 配置 - 使用统一的 ApiClient -->
    <type name="FolixCode\ProductSync\Service\VirtualGoodsApiService">
        <arguments>
            <argument name="apiClient" xsi:type="object">FolixCode\BaseSyncService\Api\ExternalApiClientInterface</argument>
        </arguments>
    </type>

    <!-- Publisher Logger 配置 -->
    <virtualType name="FolixCodeProductSyncPublisherLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">mq_publisher</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">FolixCodeProductSyncPublisherLogHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="FolixCodeProductSyncPublisherLogHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/mq_publisher.log</argument>
        </arguments>
    </virtualType>

    <!-- 通用 Logger（用于 Publisher 的第一个 logger 参数） -->
    <virtualType name="FolixCodeProductSyncGeneralLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">productsync</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">FolixCodeProductSyncGeneralLogHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="FolixCodeProductSyncGeneralLogHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/productsync.log</argument>
        </arguments>
    </virtualType>

    <type name="FolixCode\ProductSync\Model\MessageQueue\Publisher">
        <arguments>
            <argument name="logger" xsi:type="object">FolixCodeProductSyncGeneralLogger</argument>
            <argument name="publisherLogger" xsi:type="object">FolixCodeProductSyncPublisherLogger</argument>
        </arguments>
    </type>

    <!-- CategoryImporter 配置 -->
    <type name="FolixCode\ProductSync\Service\CategoryImporter">
        <arguments>
            <argument name="categoryService" xsi:type="object">FolixCode\ProductSync\Service\CategoryService</argument>
        </arguments>
    </type>

    <!-- CategoryService 配置 -->
    <type name="FolixCode\ProductSync\Service\CategoryService">
        <arguments>
            <argument name="categoryFactory" xsi:type="object">Magento\Catalog\Model\CategoryFactory</argument>
        </arguments>
    </type>

    <!-- ProductImporter 配置 - 使用 CategoryService -->
    <type name="FolixCode\ProductSync\Service\ProductImporter">
        <arguments>
            <argument name="categoryService" xsi:type="object">FolixCode\ProductSync\Service\CategoryService</argument>
        </arguments>
    </type>
</config>