<?xml version="1.0"?>
<!--
/**
 * Copyright © FolixCode. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <folixcode_thirdpartyorder>
            <general>
                <enable_order_sync>0</enable_order_sync>
                <enable_view_api>0</enable_view_api>
                <notify_url></notify_url>
            </general>
        </folixcode_thirdpartyorder>
    </default>
</config>
