<?xml version="1.0"?>
<!--
/**
 * Copyright © FolixCode. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <folixcode_thirdpartyorder>
            <settings>
                <is_enabled>0</is_enabled>
                <api_base_url>https://playsentral.qr67.com</api_base_url>
                <notify_url></notify_url>
                <sync_retry_times>3</sync_retry_times>
                <sync_retry_interval>60</sync_retry_interval>
            </settings>
        </folixcode_thirdpartyorder>
    </default>
</config>
