<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <!-- 配置 ChargeTemplateDataInterface 的实现类 -->
    <preference for="Folix\ChargeTemplate\Api\Data\ChargeTemplateDataInterface" 
                type="Folix\ChargeTemplate\Model\ChargeTemplateData" />
    
    <!-- 插件：将产品名称注入到 jsonConfig（仅前端） -->
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="Folix_ChargeTemplate_AddProductNames"
                type="Folix\ChargeTemplate\Plugin\ConfigurableProduct\Block\Product\View\Type\AddProductNames" />
    </type>

    <!-- ItemPool：将直充商品类型映射到 ChargeItem 处理器 -->
    <type name="Magento\Checkout\CustomerData\ItemPool">
        <arguments>
            <argument name="itemMap" xsi:type="array">
                <item name="virtual" xsi:type="string">Folix\ChargeTemplate\CustomerData\ChargeItem</item>
            </argument>
        </arguments>
    </type>
    
</config>
