<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="FolixCode_ThirdPartyOrder::third_party_orders" 
             title="Third Party Orders" 
             translate="title" 
             module="FolixCode_ThirdPartyOrder" 
             sortOrder="5" 
             parent="Magento_Sales::sales_operation" 
             action="thirdpartyorder/orders" 
             resource="FolixCode_ThirdPartyOrder::third_party_orders"/>
    </menu>
</config>
