<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    
    <system>
        <tab id="folixcode" translate="label" sortOrder="100">
            <label>FolixCode</label>
        </tab>
        
        <section id="folixcode_thirdpartyorder" 
                 translate="label" 
                 type="text" 
                 sortOrder="10" 
                 showInDefault="1" 
                 showInWebsite="1" 
                 showInStore="1">
            <label>Third Party Order</label>
            <tab>folixcode</tab>
             <resource>FolixCode_ThirdPartyOrder::third_party_orders</resource>
            <group id="general" 
                   translate="label" 
                   type="text" 
                   sortOrder="10" 
                   showInDefault="1" 
                   showInWebsite="1" 
                   showInStore="1">
                <label>General Settings</label>
                
                <field id="enable_order_sync" 
                       translate="label" 
                       type="select" 
                       sortOrder="10" 
                       showInDefault="1" 
                       showInWebsite="1" 
                       showInStore="0">
                    <label>Enable Order Sync</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable automatic synchronization of orders to third party API (disable for local development)</comment>
                </field>
                
                <field id="enable_view_api" 
                       translate="label" 
                       type="select" 
                       sortOrder="20" 
                       showInDefault="1" 
                       showInWebsite="1" 
                       showInStore="0">
                    <label>Enable View Page API</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable third party API calls on order view page (disable for local development)</comment>
                </field>
                
                <field id="notify_url" 
                       translate="label comment" 
                       type="text" 
                       sortOrder="30" 
                       showInDefault="1" 
                       showInWebsite="0" 
                       showInStore="0">
                    <label>Notify URL</label>
                    <comment>Your callback URL to provide to third party (auto-generated if empty)</comment>
                </field>
            </group>
        </section>
    </system>
</config>
