<?xml version="1.0"?>
<!--
/**
 * Copyright © Folix. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Model\ConfigurableAttributeData">
        <plugin name="folix_configurable_product_sort" type="Folix\ConfigurableProductSort\Plugin\ConfigurableAttributeDataPlugin"/>
    </type>
</config>
