<?xml version="1.0"?>
<!--
/**
 * Folix Game Theme - Customer Module Extension
 *
 * 游戏充值平台账户页面定制化
 * 渐进式改造，保持向后兼容
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Folix_Customer" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Customer"/>
            <module name="FolixCode_ThirdPartyOrder"/>
        </sequence>
    </module>
</config>
