<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="onestepCheckout" xsi:type="object" sortOrder="100">Folix\SimpleCheckout\Block\Checkout\LayoutProcessor</item>
            </argument>

        </arguments>
    </type>
     <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="simple_checkout_config_provider" xsi:type="object">Folix\SimpleCheckout\Model\BillingConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>